body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: #242323;
}

.topnav {
  position: fixed;
  overflow: hidden;
  background-color: #111;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 100;
}

.topnav input[type="text"] {
  float: inline-end;
  padding: 6px;
  border: red;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
  border-radius: 20px;
}

.sidenav {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 16px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  border-radius: 20px;
}

.sidenav a:hover {
  background-color: #239;
  color: #111;
  border-radius: 20px;
}

.title {
  padding-left: 20px;
}
.sidenav .logo h1 {
  padding-left: 70px;
}
.program {
  color: red;
  text-shadow: 2px 2px #111;
}
.elective {
  color: #fff;
  text-shadow: 3px 3px #111;
}

#home {
  background-image: url(../images/pic.jpg);
  background-size: cover;
  background-position: top center;
  z-index: 1;
}
.wrapper {
  margin-left: 1000px;
}
.section {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

.box-area h2 {
  text-transform: uppercase;
  font-size: 100px;
  position: absolute;
  top: 20%;
  right: 12%;
}
.box-area p {
  line-height: 2;
}
.box-area {
  width: 75%;
}

.papy {
  color: red;
}
.rus {
  color: white;
}

#programcore .dash-content,
#programelective .dash-content,
#universitycore .dash-content,
#universityelective .dash-content {
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 30px;
  margin-bottom: 50px;
  height: 100vh;
  padding-top: 50px;
}
.dash-content .title {
  display: flex;
  align-items: flex-start;
  margin: 60px 0 30px 0;
}

.dash-content .title .text {
  font-size: 40px;
  font-weight: 500;
  color: antiquewhite;
  margin-left: 10px;
}
.dash-content .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  border-color: #2b2626;
  text-align: center;
  padding: 15px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  height: 70px;
  box-sizing: border-box;
  overflow: hidden;
}
.boxes .box .text {
  font-size: 1rem;
  text-transform: uppercase;
  color: #2b2626;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
a {
  color: #111;
  font-size: 1rem;
}

#programcore,
#programelective,
#universitycore,
#universityelective,
#DSA,
#OOP,
#IWP,
#CN,
#DBMS,
#TOCCD,
#OS,
#PP,
#DLD,
#CC,
#WSN,
#CV,
#GPUP,
#ADBMS,
#ML,
#FS,
#DV,
#EH,
#KE,
#VE,
#ES,
#AC,
#ENGP,
#ENGC,
#CLT,
#DMGT,
#ALA,
#PSR,
#ECS,
#AIML,
#IPSAP,
#ETC,
#ATC,
#EVS,
#DDE,
#ANM,
#OPRE,
#CPS,
#CGT,
#SAIOT,
#HRM,
#TECHE,
#POMOB,
#BPHY {
  display: none;
}
.resourceList {
  margin-top: 50px;
  margin-left: 450px;
  box-sizing: border-box;
  height: 100vh;
}
.dash-content {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
}
.overview {
  width: 100%;
}
.title h2 {
  color: red;
  font-size: 3rem;
  margin-bottom: 20px;
}
.semester-list ul {
  list-style-type: none;
}
.semester-list ul li {
  margin-bottom: 10px;
}
.semester-list ul li a {
  color: white;
}
