body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.topnav {
    position: fixed;
    overflow: hidden;
    background-color: #111;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 100;
}
.topnav input[type=text] {
    float:inline-end;
    padding: 6px;
	border: red;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
#home {
	background-image: url(../images/pic.jpg);
	background-size: cover;
	background-position: top center;
	z-index: 1;
}
.wrapper {
	margin-left: 260px;
}
.section {
	display: grid;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}
.box-area h2 {
	text-transform: uppercase;
	font-size: 50px;
}
.box-area p {
	line-height: 2;
}
.box-area {
	width: 75%;
}

.logo {
	width: 200px;
	height: 70px;
	overflow: hidden;
	margin: 25px auto;
}
.logo img {
	width: 100%;
}
#programcore .dash-content,#programelective .dash-content,#universitycore .dash-content,#universityelective .dash-content{
    margin-top: 50px;
	margin-left: 290px;
	margin-right: 30px;
	margin-bottom: 50px;
	height: 100vh;
	padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}

.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color:#2b2626;
    margin-left: 10px;
}
.dash-content .boxes{
    display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 50px;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
	border-color:#2b2626;
    padding: 15px 20px;
    margin-top: 30px;
    background-color:grey;
    transition: var(--tran-05);
	height: 90px;
	box-sizing: border-box;
	overflow: hidden;
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 1.3 em;
	text-transform: uppercase;
    color:#2b2626;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
#programcore, #programelective, #universitycore, #universityelective {
	display: none;
}
.resourceList{
	margin-top: 50px;
	margin-left: 290px;
}
.text{
	position: absolute;
}
.list{
	position: relative;
	margin-top: 100px;
}